<!DOCTYPE html>

<html lang="en"><head>
  <meta charset="utf-8">
  <title>RAPID Login</title>
<style type="text/css"></style></head>

<body>

  <!--------------- Logo Container ----------------->
  <div style="width:100%; margin:auto; margin-top:50px;">
  <div style="width: 600px; margin: auto;">

    <img src="{{ BASE_URL }}/images/CP_Logo.png" alt="Cal Poly Logo" style="margin: auto; margin-right: 1em; height: 6em; padding: 10px">
    <img src="{{ BASE_URL }}/images/PRCI.jpg" alt="PRCI" style="margin: auto; margin-left: 1em; height: 6em; padding: 10px">
    </div>
  </div>

  <!--------------- Input Section ------------------>
  <div style="height:600px; margin:auto; margin-top: 50px;/* display: flex; */">
    <div style="border:2px solid darkgrey; display:flex; justify-content:center; align-items: center; height: 100px; max-width: 500px; min-width: 300px; margin: auto; text-align: center;">
    <div style="font-family: Tahoma; font-size: 2em">RAPID Login {{ STATIC_URL }}</div>
    </div>
    <br>
    <div style="margin: auto;display: flex;justify-content: center;">
    <form id="login_form" method="post" action="/rapid/login/" style="font-family: Tahoma; font-size: 25px;margin: auto;">
      {% csrf_token %}
        <div style="margin: auto; margin-left: 43px; margin-bottom: 10px;">Username
        <input type="text" name="username" value="" size="50" style="height:30px;width:220px;" onkeydown="if (event.keyCode == 13) {Login.isUser(this.form);}"/>
    </div>

      <div style="margin-top: 50px; margin: auto; font-size: 25px; position: relative; margin-left: 50px;">Password
        <input type="password" name="password" value="" size="50" style="height:30px; width:220px;" onkeydown="if (event.keyCode == 13) {Login.isUser(this.form);}"/>
    </div>
        <input type="submit" value="submit" />
    </form>
    </div>
  </div>

</body></html>
